/* Product.module.css */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.productCard {
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.grid {
  display:block;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .grid {
      grid-template-columns: 1fr 1fr;
  }
}

.productImage {
  width: 100%;
  height: 400px;
  object-fit:scale-down;
}

.headerContainer {
  display: flex;
  justify-content: space-between; /* Spazio tra titolo e prezzo */
  align-items: center; /* Allinea verticalmente i titoli */
}
.productTitle {
  
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.productPrice{

  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: right;
  margin-right: 100px;
}

.productDescription {
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
  margin-bottom: 20px;
}

.sizeSection, .colorSection {
  margin-bottom: 20px;
}

.sectionTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.buttonContainer {
  display: flex;
  justify-content: center; /* Centra gli elementi nel contenitore */
  align-items: center; /* Allinea verticalmente */
  gap: 10px; /* Spazio tra input e bottone */
  flex-wrap: wrap; /* Permette agli elementi di andare a capo se necessario */
}

.quantityInput {
  flex: 0 1 80px; /* La larghezza minima e la crescita dell'input */
}

.addToCartButton {
  flex: 0 1 200px; /* Imposta una larghezza flessibile ma limitata */
  padding: 10px 15px; /* Aggiungi padding per una buona altezza */
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.addToCartButton:hover {
  background-color: #0056b3;
}

